{
  "presets": ["next/babel"],
  "plugins": [
    [
      "transform-inline-environment-variables",
      {
        "include": ["API_ENDPOINT"]
      }
    ],
    [
      "styled-components",
      { "ssr": true, "displayName": false, "preprocess": false }
    ]
  ]
}
